{% extends "base.html" %}
{% block content %}
<h3>Meeting Schedule</h3>
<p>We are an active group that has three regularly scheduled events on the 2nd Saturday, 3rd and 4th Thursday of each month
  in the North Dallas area.
</p>
<div class='panel'>
  <h3>Second Saturday Teaching Meeting</h3>
  <p>Improving Enterprises </p>
  <p>16633 Dallas Parkway, Addison, TX</p>
  <h3>Third Thursday Project Night</h3>
  <p>Gazebo Burger Frisco</p>
  <p>6801 Warren Parkway, Frisco, TX</p>
  <h3>Forth Thursday Social Dinner</h3>
  <p>Taco Cabana</p>
  <p>15120 Marsh Lane, Addison, TX</p>
</div>


<h3>Vision</h3>

<ul>
  <li>To meet interesting people, to learn new things, to teach others</li>
  <li>To run some classes, on tools, frameworks, and the language itself</li>
  <li>To support both face-to-face meetups, and online projects and classes</li>
  <li>To collaborate on fun projects, to run local coding "sprints"</li>
  <li>Professional development and mutual support skills advancement</li>
  <li>Participate in local conferences such as PyTexas</li>
</ul>

{% endblock %}
